#loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7); /* Latar belakang semi-transparan */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Pastikan tampil di atas elemen lain */
}

#loading-icon {
  width: 50px;
  height: 50px;
  border: 4px solid #333;
  border-top: 4px solid #2196f3;
  border-radius: 50%;
  animation: spin 2s linear infinite; /* Animasi putar */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading {
  animation: loading 0.3s linear infinite;
}

@keyframes loading {
  0% {
    color: red;
  }
  30% {
    color: yellow;
  }
  60% {
    color: green;
  }
  100% {
    color: blue;
  }
}
.sidebar {
  background: linear-gradient(50deg, rgba(33, 150, 243, 0.9), rgba(233, 30, 99, 0.9));
  height: 99vh;
  position: fixed;
  padding: 1%;
  top: 0;
}

.text-logo {
  width: 50px;
  height: 50px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 1px 1px 30px rgba(255, 255, 255, 0.6);
}
.text-logo h1 {
  color: white;
  font-family: "Pixelify Sans";
  text-align: center;
  font-size: 24px;
  margin-top: 5px;
}

.menu-sidebar {
  list-style: none;
  padding-left: 20px;
}
.menu-sidebar li {
  padding: 15px 10px;
  transition: 0.3s;
  margin-left: -20px;
  border-radius: 35px;
}
.menu-sidebar li:hover {
  background-color: white;
}
.menu-sidebar li:hover .menu-item {
  color: black;
}

.menu-item {
  text-decoration: none;
  color: white;
}

.li-item {
  color: white;
}
.li-item i {
  font-size: 22px;
  margin-right: 10px;
}

.li-item:hover {
  color: black;
}

.content {
  position: absolute;
  left: 211px;
  height: 120vh;
}

.sidebar-disarankan {
  height: -moz-max-content;
  height: max-content;
  position: fixed;
  right: 0;
  background-color: black;
  padding: 30px;
  top: 0;
}

.col-img-profil {
  background-color: white;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.img-profil {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: -8px;
}

.col-nama-profil {
  line-height: 0.5;
}

.username {
  color: white;
}

.nama-lengkap {
  color: rgb(169, 169, 169);
}

.col-pengguna-disarankan {
  margin-top: 50px;
  color: rgb(169, 169, 169);
  font-size: small;
}

.btn-lihat-semua {
  text-decoration: none;
  color: white;
}

.data-pengguna-disarankan {
  color: white;
  margin-top: 20px;
}

.img-pengguna-disarankan {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.btn-ikuti {
  text-decoration: none;
}

.col-footer {
  margin-top: 30px;
}
.col-footer p {
  font-size: small;
  color: gray;
}

.body {
  padding-top: 3%;
}

.img-status {
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: 2px solid rgb(195, 0, 255);
  box-shadow: 0px 0px 10px rgb(195, 0, 255);
}/*# sourceMappingURL=main.css.map */